@media all and (min-width: 320px) and (max-width:767px) {
    body{
        background-color: #dae6d3;

    }   

    #wrap{
        width: 100%;
        /* overflow: hidden; */
    }

    .mainImg{
        display: none;
    }

    header{
        width: 100%;
        margin-top: 30px;
    }

    header nav{
        display: none;
    }

    header .logo{
        margin-left: 0px;
        width: 50%;
    }

    header .logo img{
        width: 100%;
    }

    .mobileMenu{
        width: 40px;
        float: right;
    }

    .mobileMenu div{
        width: 35px;
        height: 5px;
        background-color: #5e7a4f;
        margin: 5px 0px;
        border-radius: 7px;
    }

    .main{
        width: 100%;
        height: 320px;
        background-image: url(../img/MoMainImg.jpg);
        background-size: cover;
        background-position: center center;
        margin-top: 50px;
        border-radius: 50px 50px 0px 0px;
    }

    .MoMainImg{
        width: 100%;
        height: 320px;
        border-radius: 50px 50px 0px 0px;
        background-color: rgba(0, 0, 0, 0.2);
        position: absolute;
        top: 120px;
    }

    .mainText{
        width: 200px;
        padding: 10px 0px;
        margin-left: 0px;
        margin-top: 30px;
        margin-right: 30px;
        float: right;
        position: relative;
        z-index: 100;
    }
    
    .mainText p{
        font-size: 25px;
        padding: 10px;
    }

    .mainIcon {
        width: 280px;
        height: 90px;
        float: right;
        transform: translateX(0px) translateY(110px);
        position: relative;
        z-index: 5;
        background-color: #b3cc9d;
        border-radius: 100px 0px 0px 100px;
    }

    .mainIcon img{
        width: 75px;
        float: left;
        margin: 0px 15px;
        margin: 7px;
    }

    .mainIcon img:first-of-type{
        margin-left: 10px;
    }

    /* seoulForest */

    .seoulForest{
        margin-top: 100px;
        height: 500px;
    }

    .mainTitle{
        font-size: 30px;
    }

    .forestIcon{
        width: 80%;
        height: 400px;
        margin-top: 30px;
    }

    .forestIcon ul{
        width: 100%;
        height: 300px;
    }

    .forestIcon li{
        float: left;
        width: 48%;
        margin: 0px 3px;
    }

    .forestIcon li>img{
        width: 80%;
    }

    .forestIcon li p:first-of-type{
        font-size: 18px;
        margin-top: 0px;
    }

    .forestIcon li p:last-of-type{
        font-size: 18px;
        padding-top: 0px;
        font-weight: bold;
    }

    .forestIcon li:nth-of-type(3),
    .forestIcon li:nth-of-type(4){
        margin-top: 30px;
    }


    /* forFilming */

    .filimingCont{
        height: 440px;
    }

    .forFilming{
        width: 100%;
        background-color: #b3cc9d;
        margin-top: 50px;
        padding-top: 0px;
        display: block;
        border-radius: 50px 50px 0px 0px;
    }

    .forFilming h2,.info h2{
        padding-top: 40px;
    }

    .forFilming button,
    .flimingText{
        display: none;
    }

    .slideFilming_01,
    .slideFilming_02{
        display: none;
    }

    .MoFliming{
        width: 80%;
        height: 200px;
        background-image: url(../img/MoFliming.jpg);
        background-size: cover;
        background-position: center center;
        margin: auto;
        border-radius: 30px;
        position: relative;
        z-index: 4;
    }

    .MoFlimimgBg{
        width: 80%;
        height: 200px;
        border-radius: 30px;
        background-color: rgba(0, 0, 0, 0.329);
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 5;
    }

    .MoFlimimgBg p{
        font-size: 15px;
        color: white;
        line-height: 150%;
        margin-top: 140px;
        margin-left: 20px;
    }

    .MoFlimingTab{
        width: 90%;
        height: 250px;
        background-color: #f0ebb6;
        margin: auto;
        border-radius: 40px;
        margin-top: -50px;
        clear: both;
        display: block;
    }

    .MoFliming,.MoFlimimgBg{
        display: block;
    }

    .MoFlimingTab input{
        display: none;
    }

    .MoFlimingTab label{
        display: block;
        float: left;
        font-size: 18px;
        color: #5e7a4f;
        font-weight: 500;
        width: 30%;
        height: 27px;
        text-align: center;
        margin-top: 65px;
    }

    .MoFlimingTab label:first-of-type{
        margin-left: 3%;
    }

    .MoFlimingTab input:first-of-type:checked ~ .filming,
    .MoFlimingTab input:nth-of-type(2):checked ~ .coronation,
    .MoFlimingTab input:nth-of-type(3):checked ~ .busking{
        display: block;
    }

    .MoFlimingTab input:first-of-type:checked ~ label:first-of-type,
    .MoFlimingTab input:nth-of-type(2):checked ~ label:nth-of-type(2),
    .MoFlimingTab input:nth-of-type(3):checked ~ label:nth-of-type(3){
        background-color: #8aac78;
        color: white;
        border-radius: 10px;
        padding: 3px 0px;
    }

    .MoFlimingTab input:first-of-type:checked ~ label:first-of-type{
        width: 24%;
        margin-left: 32px;
    }

    .MoFlimingTab div{
        width: 80%;
        height: 100px;
        display: none;
        margin: auto;
        top: 115px;
    }


    .filming table{
        margin: auto;
        width: 90%;
        top: 20px;
        position: relative;
        font-size: 18px;
        margin-left: 7%;
        color: #5e7a4f;
        font-weight: bold;
    }

    .filming table tr:nth-of-type(even){
        color: #92aa85;
        font-weight: 400;
        font-size: 13px;
    }

    .filming table tr td:nth-of-type(even){
        text-align: center;
    }
    
    .filming table tr:nth-of-type(even) td{
        padding-bottom: 10px;
    }

/* info */
    .info{
        margin-top: 0px;
        position: relative;
        height: 670px;
    }

    .subTitle{
        display: none;
    }

    .subTitleMo{
        text-align: center;
        color: #3c4935;
        margin-top: 30px;
        font-size: 17.5px;
        font-weight: 500;
        letter-spacing: -0.05em;
        display: block;
    }
    
    .yellowCircle{
        background-color: #adbc93;
        width: 35px;
        height: 35px;
        left: 50%;
        top: 240px;
        transform: translateX(-50%);
        z-index: 4;
        opacity: 0.9;
    }

    .infoText{
        width: 90%;
        height: 380px;
        background-color: #ebe6b3;
        margin: auto;
        float: none;
        border: none;
        margin-top: 30px;
        border-radius: 70px 70px 20px 20px;
    }

    .infoText .infoMainImg{
        width: 80%;
        height: 180px;
        margin: auto;
        overflow: hidden;
        border-radius: 20px 20px;
        clear: both;
        background-image: url(../img/MoMainImg.jpg);
        background-size: cover;
        background-position: center center;
        position: relative;
        top: 30px;
    }

    .infoImg{
        display: none;
    }

    .infoText ul{
        margin: auto;
        width: 70%;
        margin-top: 45px;
    }

    .infoText ul li span{
        width: 15px;
        height: 15px;
        background-color: #5e794f;
        border-radius: 100%;
        float: left;
        margin-top: 5px;
        margin-right: 10px;
    }
    
    .infoText ul li{
        font-size: 14px;
        color: #748c67;
        font-weight: 500;
    }
    .infoText ul li:nth-child(even){
        padding-left: 40px;
        padding-bottom: 5px;
    }

/* volunteer */
    .volunteer{
        margin-top: 30px;
        height: 650px;
    }

    .volunteer .infoText{
        margin: auto;
        margin-top: 30px;
        background-color: #748c67;
    }       

    .volunteer .infoMainImg{
        background-image: url(../img/volunteerImg.jpg);
        background-size: cover;
        background-position: center center;
    }
    .volunteer .infoText ul{
        margin: auto;
        width: 70%;
        margin-top: 50px;
    }

    .volunteer .infoText ul li span{
        background-color: #ebe6b3;
        width: 15px;
        height: 15px;
    }

    .volunteer .infoText ul li{
        font-size: 15px;
        color: #ebe6b3;
    }

    .volunteer .infoText ul li:nth-of-type(2),
    .volunteer .infoText ul li:nth-of-type(3){
        padding-left: 40px;
    }

    .volunteer .infoText button{
        width: 120px;
        height: 30px;
        background-color: #ebe6b3;
        float: right;
        margin-top: 15px;
        border-radius: 10px;
        border: none;
        margin-right: 50px;
    }

    .volunteer .infoText button span i:first-of-type{
        display: none;
    }

    .infoText button span{
        border-radius: 0px;
        background-color: #3c4935;
        width: 40px;
        height: 30px;
        float: right;
        margin: 0;
        border-radius: 0px 10px 10px 0px;
    }
    .infoText button span i:last-child{
        margin: 0.5;
        margin-top: 1.5px;
        display: block;
    }


    .volunteer .infoText button p{
        font-size: 14px;
        padding: 0px;
        color: #3c4935;
        line-height: 230%;;
        margin-left: 14px;
    }

    .volunteer .yellowCircle{
        background-color: #ebe6b3;
        position: relative;
        top: 210px;
    }

/* supporter */

    .supporter .yellowCircle{
        display: none;
    }

    .supporter .mainTitle{
        margin-top: 0px;
    }

    .supporterTab{
        height: 700px;
    }

    .label{
        display: none;
    }

    .labelMo{
        font-size: 20px;
        font-weight: bold;
        color: #5e7a4f;
        width: 80%;
        margin: auto;
        margin-top: 30px;
        text-align: center;
        display: block;
    }

    .labelMo label{
        margin: 0px 10px;
        padding: 0px 9.8px;
        text-align: center;
        cursor: pointer;
    }


    .labelMo label:first-of-type,
    .labelMo label:last-of-type{
        margin: 0;
    }

    .lineBox{
        width: 80%;
        height: 177px;
        margin-top: 20px;
        margin-bottom: 30px;
        overflow: hidden;
    }


    .lineBox .line{
        width: 100px;
        height: 100px;
        margin: auto;
        border: 30px solid white;
        border-radius: 100%;
        background-color: transparent;
    }

    .supporterCont{
        width: 90%;
        height: 200px;
        float: none;
        clear: both;
        background-color: #ebe6b3;
        margin: auto;
        margin-top: 20px;
        overflow: hidden;
    }

    .supporterTitle span{
        font-size: 15px;
    }

    .supporterTitle{
        font-size: 0px;
        padding: 20px 0px 0px 20px;
        font-weight: bold;
    }

    .supporterCont ul{
        width: 90%;
        margin-top: 10px;
        margin-left: 20px;
    }

    .supporterCont ul li{
        font-size: 15px;
        padding: 3px 0px;
        font-weight: 500;
    }

    .lineBox{
        display: none;
    }

    #supporter{
        width: 100%;
        height: 250px;
        clear: both;
        margin-top: 30px;
        display: block;
    }
    
    .circle{
        width: 250px;
        display: none;
        margin: auto;
    }

    .supporterTab input:nth-of-type(1):checked ~ #supporter div:nth-of-type(1){
        display: block;
    }
     
    .supporterTab input:nth-of-type(2):checked ~ #supporter div:nth-of-type(2){
        display: block;
    }
    
    .supporterTab input:nth-of-type(3):checked ~ #supporter div:nth-of-type(3){
        display: block;
    }
    
    .supporterTab input:nth-of-type(4):checked ~ #supporter div:nth-of-type(4){
        display: block;
    }
    
    .supporterTab input:nth-of-type(1):checked ~ .labelMo label:nth-of-type(1)
    ,.supporterTab input:nth-of-type(2):checked ~ .labelMo label:nth-of-type(2)
    ,.supporterTab input:nth-of-type(3):checked ~ .labelMo label:nth-of-type(3)
    ,.supporterTab input:nth-of-type(4):checked ~ .labelMo label:nth-of-type(4)
    
    {
        background-color: #ebe6b3
    }





    
    .business,footer,.bg,.subTitle{
        display: none;
        
    }
}