*{margin: 0; padding: 0;}
a{text-decoration: none; color: #333;}
li{list-style-type: none;}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body{
    background-color: #dae7ce;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: -0.05em;
    overflow-x: hidden;
}

.wrap{
    width: 70%;
    /* background-image: url(../최종시안.jpg); */
    height: 6150px;
    margin: auto;
    background-size: 100%;
    opacity: 0.4;
} 

#wrap{
    width: 1340px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

header{
    width: 100%;
    height: 40px;
    margin-top: 30px;
}

.logo{
    float: left;
    margin-left: 150px;
}

.logo img{
    width: 170px;
}

.lnb{
    float: left;
    line-height: 240%;
    font-weight: 500;
    color: #666;
}

.lnb li{
    float: left;
    font-size: 20px;
    margin: 0px 30px;
}

.lnb li:first-of-type{
    margin-left: 80px;
}

.gnb{
    float: right;
    margin-right: 120px;
    margin-top: -2px;
}

.gnb li{
    float: left;
    margin-left: 10px;
}

.gnb img{
    width: 45px;
    display: block;
}

/* section */
section{
    width: 100%;
    height: 300px;
    clear: both;
}

.main{
    width: 100%;
    height: 790px;

}

.mainText{
    width: 39%;
    float: left;
    border-bottom: 5px solid #748c67;
    border-top: 5px solid #748c67;
    margin-left: 140px;
    padding: 20px 0px;
    margin-top: 100px;
}

.mainText p{
    font-size: 65px;
    font-weight: bold;
    color: #666;
    padding-left: 30px;
    line-height: 115%;
    letter-spacing: 0.02em;
}

.mainText p span{
    color: #748c67;
}

.mainIcon{
    width: 700px;
    height: 140px;
    background-color: #748c67;
    clear: both;
    transform: translateY(100px) translateX(-200px);
    border-radius: 0px 100px 100px 0px;
}

.mainIcon img{
    background-color: #f0ebb6;
    border-radius: 100%;
    width: 120px;
    margin: 10px;
    float: left;
}

.mainIcon img:first-of-type{
    margin-left: 290px;
}

.mainImg{
    width: 700px;
    height: 700px;
}

.mainImg img{
    width: 900px;
    position: absolute;
    right: -400px;
    top: 150px;
}


/* seoulForest */
.seoulForest{
    width: 100%;
}

.mainTitle{
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    color: #748c67;
}

.forestIcon{
    width: 84.5%;
    height: 100px;
    margin: auto;
    margin-top: 50px;
}

.forestIcon ul{
    margin: auto;
    display: block;
}

.forestIcon li{
    float: left;
    text-align: center;
;
}

.forestIcon li>img{
    width: 80%;
}

.forestIcon li p:first-of-type{
    font-size: 25px;
    margin-top: 35px;
    font-weight: bold;
    color: #a8b68f;
    letter-spacing: 0.05em;
}

.forestIcon li p:last-of-type{
    font-size: 25px;
    font-weight: bold;
    color: #748c67;
    letter-spacing: 0.05em;
    padding-top: 8px;
}

/* forFilming */
.forFilming{
    width: 100%;
    clear: both;
    padding-top: 170px;
}

.bg{
    width: 100%;
    height: 700px;
    background-color: #b3cc9d;
    position: absolute;
    margin-top: 100px;
}

.filimingCont{
    position: relative;
    top: 20px;
    width: 100%;
    height: 600px;
}

.slideFilming_01 img,.slideFilming_02 img{
    width: 100%;
    border-radius: 150px;
    margin-left: -10px;
    margin-top: -20px;
}

.slideFilming_01,.slideFilming_02{
    width: 27%;
    height: 500px;
    background-color: #8ca873;
    margin-left: 140px;
    border-radius: 150px;
    float: left;
}

.slideFilming_02{
    margin-top: 100px;
    margin-left: 55px;
    width: 25%;
    height: 470px;
}

.slideFilming_02 img{
    width: 100%;
    margin-top: -10px;
}

.flimingText{
    width: 350px;
    height: 300px;
    float: left;
    margin-top: 230px;
}

.flimingText p{
    font-size: 23px;
    font-weight: 500;
    text-align: center;
    line-height: 130%;
    color: #5e7a4f;
}

.flimingText ul{
    margin: 30px;
    margin-left: 50px;
}

.flimingText ul li span{
    width: 20px;
    height: 20px;
    background-color: #f0ebb6;
    border-radius: 5px;
    float: left;
    margin-top: 5px;
margin-right: 20px;
}

.flimingText ul li{
    font-size: 20px;
    font-weight: 500;
    color: #859d76;
    margin-top: 10px;
}

.flimingText button{
    width: 260px;
    height: 70px;
    margin-left: 45px;
    margin-top: 5px;
    border-radius: 50px;
    border: 3px solid #f0ebb6;
    background-color: transparent;
    cursor: pointer;
}

.flimingText button p{
    color: white;
    font-weight: bold;
    font-size: 25px;
    float: left;
    padding-left: 30px;
    padding-top: 9px;
}

.flimingText button span{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #e9eabd;
    float: right;
    border-radius: 100%;
    margin-right: 10px;
}

.flimingText button span i{
    color: white;
    margin: 4px;
}

/* info */
.info{
    width: 100%;
    height: 800px;
    background-color: #b3cc9d;
    margin-top: 100px;
}

.info .mainTitle{
    padding-top: 25px;
    position: relative;
}

.subTitle{
    font-size: 25px;
    font-weight: 600;
    line-height: 180%;
    color: #5e7a4f;
    margin-top: 70px;
    margin-left: 150px;
    z-index: 1;
    position: relative;
}

.yellowCircle{
    width: 180px;
    height: 180px;
    background-color: #dee2af;
    position: absolute;
    border-radius: 100%;
    left: 50px;
}

.infoText{
    width: 430px;
    border-top: 3px solid #f9fbc1;
    margin-left: 150px;
    margin-top: 150px;
    float: left;
}

.infoText ul{
    margin: 50px;
    margin-left: 10px;
}

.infoText ul li{
    font-size: 20px;
    color: #5e794f;
    font-weight: 500;
}

.infoText ul li:nth-child(even){
    padding-left: 70px;
    font-weight: 400;
    padding-bottom: 10px;
}

.infoText ul li span{
    width: 20px;
    height: 20px;
    background-color: #5e794f;
    display: block;
    float: left;
    border-radius: 100%;
    margin-right: 20px;
    margin-top: 5px;
}

.info .infoImg{
    float: left;
    margin-left: 70px;
    margin-top: 180px;
    width: 520px;
    height: 350px;
    background-color: #8ca873;
}

.info .infoImg img{
    width: 520px;
    margin-left: 30px;
    margin-top: -30px;
}

.info .infoImg .topCircle,.info .infoImg .bottomCircle{
    position: absolute;
    font-size: 55px;
    font-weight: 500;
    margin-top: 40px;
    width: 530px;
}

.info .infoImg .topCircle{
    color: #f0ebb6;
    margin-top: -120px;
    margin-left: 24px;
}

.info .bottomCircle{
    color: #5e7a4f;
    transform: rotate(180deg);
    margin-left: 24px;
}

/* volunteer */
.volunteer{
    width: 100%;
    height: 870px;
    clear: both;
    margin-top: 220px;
}

.volunteer .infoImg{
    width: 500px;
    height: 340px;
    background-color: #8ca873;
    margin-left: 180px;
    margin-top: 140px;
    float: left;
}

.volunteer .infoImg img{
    width: 500px;
    margin-top: -30px;
    margin-left: -30px;
}

/* .s {
transform: translate(130px, 97px) rotate(-46deg);
}

.se {
transform: translate(95px, 61px) rotate(-44deg);
}

.so {
transform: translate(63px, 28px) rotate(-40deg);
}

.su {
transform: translate(40px, 6px) rotate(-20deg);
}

.sl {
transform: translate(23px, -7px) rotate(-10deg);
}

.f {
transform: translate(19px, -10px) rotate(4deg);
}

.fo {
transform: translate(-2px, -3px) rotate(13deg);
}

.fr {
transform: translate(-23px, 15px) rotate(27deg);
}

.fe {
transform: translate(-48px, 40px) rotate(35deg);
}

.fs {
transform: translate(-81px, 70px) rotate(49deg);
}

.ft {
transform: translate(-118px, 102px) rotate(55deg);
}*/

.s {
    transform: translate(19px, 104px) rotate(-46deg);
}

.se {
    transform: translate(10px, 73px) rotate(-44deg);
}

.so {
    transform: translate(1px, 37px) rotate(-40deg);
}

.su {
    transform: translate(-2px, 10px) rotate(-20deg);
}

.sl {
    transform: translate(4px, -10px) rotate(-10deg);
}

.f {
    transform: translate(16px, -16px) rotate(4deg);
}

.fo {
    transform: translate(20px, -8px) rotate(13deg);
}

.fr {
    transform: translate(20px, 9px) rotate(27deg);
}

.fe {
    transform: translate(20px, 40px) rotate(35deg);
}

.fs {
    transform: translate(20px, 75px) rotate(49deg);
}

.ft {
    transform: translate(11px, 114px) rotate(55deg);
}
span {
    display: inline-block;
}

.bottomCircle span {
    display: inline-block;
}

.volunteer .bottomCircle{
    font-size: 63px; 
    font-weight: 500;
    letter-spacing: -0.08em;
    margin-top: 50px;
    width: 494px;
    color: #5e7a4f;
    transform: rotate(180deg);
    margin-left: -15px;
}

.volunteer .infoText{
    margin-top: 110px;
}

.volunteer .infoText ul li:nth-of-type(2){
    padding-top: 7px;
}

.volunteer .infoText ul li:last-of-type{
    padding-left: 70px;
    font-weight: 400;
    margin-top: -7px;
}

.infoText button{
    width: 260px;
    height: 70px;
    margin-left: 100px;
    margin-top: 5px;
    border-radius: 50px;
    border: 3px solid #b3cc9d;
    background-color: transparent;
    cursor: pointer;
}

.infoText button p{
    color: white;
    font-weight: bold;
    font-size: 25px;
    float: left;
    padding-left: 30px;
    padding-top: 9px;
}

.infoText button span{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #b3cc9d;
    float: right;
    border-radius: 100%;
    margin-right: 10px;
}

.infoText button span i{
    color: white;
    margin: 4px;
}

/* supporter */
.supporter{
    width: 100%;
    height: 800px;
    clear: both;
}

.supporter .mainTitle{
    margin-top: 100px;
}

.supporterTab{
    width: 100%;
    height: 400px;
    float: left;
    overflow: hidden;
}

.supporterTab input{
    display: none;
}

/* .supporterTab label{
    font-size: 25px;
    font-weight: bold;
    color: #5e7a4f;
    padding-left: 70px;
    float: left;
    background-color: red;
    padding-top: 30px;
}

.supporterTab label:first-of-type{
    padding-top: 110px;
}

.bronzeLine,.line{
    width: 250px;
    height: 40px;
    background-color: white;
    float: left;
    margin-left: 30px;
    border-radius: 10px;
}

.bronzeLine{
    margin-top: 110px;
}

.line{
    margin-top: 30px;
    margin-left: 50px;
} */



.label,.lineBox{
    margin-top: 100px;
    margin-left: 40px;
    float: left;
}

.label{
    width: 10%;
    height: 300px;
    float: left;
    margin-left: 16%;
}

.label label{
    display: block;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding: 17px 0px;
    color: #5e7a4f;
    cursor: pointer;
    float: left;
}


.lineBox{
    margin-left: 35px;
    width: 20%;
}

.lineBox .line{
    width: 100%;
    height: 40px;
    background-color: white;
    margin: 30px 0px;
    border-radius: 10px;
}

.lineBox .line:first-of-type{
    margin-top: 17px;
}


.line div{
    height: 100%;
    background-color: #5e7a4f;
    border-radius: 10px;
}

.brozeLine{
    width: 40%;
}

.silverLine{
    width: 60%;
}

.goldLine{
    width: 85%;
}

.supporterLine{
    width: 100%;
}

.supporterCont{
    width: 44%;
    height: 300px;
    float: left;
    margin-top: 110px;
    margin-left: 70px;
}

.supporterCont div{
    margin-left: 1000px;
    width: 100%;
}

.supporterTitle{
    font-size: 22px;
    font-weight: 600;   
    color: #5e794f;
}

.supporterTitle span{
    font-size: 30px;
    font-weight: bold;
    color: #5e794f;
    background-color: #e9eabd;
}

.supporterCont div{
    display: none;
}

.supporterTab input:first-of-type:checked ~ .label label:first-of-type{
    /* animation: lineAni 1s; */
    animation-fill-mode: forwards;
}

.supporterTab input:nth-of-type(2):checked ~ .label label:nth-of-type(2){
    /* animation: lineAni 1s; */
    animation-fill-mode: forwards;
}

.supporterTab input:nth-of-type(3):checked ~ .label label:nth-of-type(3){
    /* animation: lineAni 1s; */
    animation-fill-mode: forwards;
}

.supporterTab input:last-of-type:checked ~ .label label:last-of-type{
    /* animation: lineAni 1s; */
    animation-fill-mode: forwards;
}


.supporterTab input:first-of-type:checked ~ .supporterCont .bronze{
    display: block;
    animation: contAni 0.7s;
    animation-fill-mode: forwards;
}

.supporterTab input:nth-of-type(2):checked ~ .supporterCont .silver{
    display: block;
    animation: contAni 0.7s;
    animation-fill-mode: forwards;
    
}

.supporterTab input:nth-of-type(3):checked ~ .supporterCont .gold{
    display: block;
    animation: contAni 0.7s;
    animation-fill-mode: forwards;
}

.supporterTab input:last-of-type:checked ~ .supporterCont .t_supporter{
    display: block;
    animation: contAni 0.7s;
    animation-fill-mode: forwards;
}

@keyframes contAni{
    0%{
        margin-left: 1000px;
    }

    100%{
        margin-left: 0px;
        
    }
}

.supporterCont ul{
    margin-top: 40px;
}

.supporterCont ul li{
    font-size: 20px;
    font-weight: 600;
    color: #5e794f;
    padding: 7px 0px;
}

.supporterTab input:first-of-type:checked ~ .lineBox .brozeLine{
    animation: bronzeAni 1.5s;
}

.supporterTab input:nth-of-type(2):checked ~ .lineBox .silverLine{
    animation: silverAni 1.5s;
}

.supporterTab input:nth-of-type(3):checked ~ .lineBox .goldLine{
    animation: goldAni 1.5s;
}

.supporterTab input:last-of-type:checked ~ .lineBox .supporterLine{
    animation: suppoterAni 1.5s;
}

@keyframes bronzeAni{
    0%{
        width: 0%;
    }

    100%{
        width: 40%;
        
    }
}

@keyframes silverAni{
    0%{
        width: 0%;
    }

    100%{
        width: 60%;
        
    }
}

@keyframes goldAni{
    0%{
        width: 0%;
    }

    100%{
        width: 85%;
        
    }
}

@keyframes suppoterAni{
    0%{
        width: 0%;
    }

    100%{
        width: 100%;
        
    }
}

/* business */
.business{
    width: 100%;
    height: 750px;
    clear: both;
}
.businessBox{
    width: 100%;
    height: 260px;
    margin-top: 100px;
}

.businessBox ul,
.businessBoxHide ul {
    width: 33%;
    height: 275px;
    float: left;
}

.businessBox ul li,
.businessBoxHide li {
    display: block;
    width: 100%;
    margin-left: 165px;
    margin-top: 30px;
}

.businessBox ul li:first-of-type,
.businessBoxHide ul li:first-of-type{
    margin-left: 165px;
    margin-top: 0px;
}

.businessBox ul:nth-of-type(2) li,
.businessBoxHide ul:nth-of-type(2) li{
    margin-left: 75px;
}

.businessBox ul:nth-of-type(3) li,
.businessBoxHide ul:nth-of-type(3) li{
    margin-left: 0px;
}


.businessBox img,
.businessBoxHide img{
    width: 60px;
    background-color: #b3cc9d;
    padding: 2px;
    border-radius: 15px;
    float: left;
    margin-right: 20px;
    margin-top: 5px;
}

.businessBox ul li p,
.businessBoxHide ul li p{
    font-size: 25px;
    font-weight: bold;
    color: #5e7a4f;
}

.businessBox ul li span,
.businessBoxHide ul li span{
    font-weight: 400;
}

.businessBox button,
.businessBoxHide button{
    width: 230px;
    height: 70px;
    border-radius: 50px;
    border: 3px solid #b3cc9d;
    background-color: transparent;
    cursor: pointer;
    margin: auto;
    display: block;
    margin-top: 100px;
    transform: translateY(50px);
}

.businessBox button p,
.businessBoxHide button p{
    color: white;
    font-weight: bold;
    font-size: 25px;
    float: left;
    padding-left: 30px;
    padding-top: 9px;
}

.businessBox button span,
.businessBoxHide button span{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #b3cc9d;
    float: right;
    border-radius: 100%;
    margin-right: 10px;
}

.businessBox button span i,
.businessBoxHide button span i{
    color: white;
    margin: 4px;
    transform: rotate(90deg);
}

.businessBoxHide button span i{
    transform: rotate(-90deg);
}

.businessBoxHide{
    width: 100%;
    height: 200px;
    margin-top: 45px;
    display: none;
}

.businessBoxHide ul{
    height: 170px;
}

/* footer */
footer{
    width: 100%;
    height: 255px;
    clear: both;
    transform: translateY(190px);
    background-color: #748c67;
}

.footerLogo{
    width: 320px;
    margin-left: 170px;
    padding-top: 30px;
    float: left;
}

.footerLogo img{
    width: 250px;
}

.footerLogo p:first-of-type{
    color: #dae6d3;
    font-size: 21px;
    font-weight: bold;
    margin-top: 40px;
}

.footerLogo p:nth-of-type(2),
.footerLogo p:last-child{
    color: #dae6d3;
    font-size: 17px;
    margin-top: 10px;
}

.footerNav{
    width: 750px;
    height: 200px;
    float: left;
    margin-left: 40px;
}

.footerNav>ul>li{
    float: left;
    width: 160px;
}

.footerNav>ul>li>a{
    display: block;
    font-weight: bold;
    font-size: 21px;
    color: #dae6d3;
    padding-top: 35px;
    width: 160px;
}

.footerNavSubM>li>a{
    display: block;
    font-size: 18px;
    color: #dae6d3;
    padding: 8.5px 0px;
}

/* 모바일 안보이게 */
.MoFlimimgBg,.MoFliming,.MoFlimingTab,.subTitleMo
,.labelMo,.fa-angle-double-right,#supporter,
.businessBoxMo,.businessBoxMoHide,.fa-angle-double-right,
.businessMoButton
{
    display: none;
}