@media all and (min-width: 320px) and (max-width:767px) {
    body{
        background-color: #dae6d3;
        width: 100%;
        background-color: gold;
    }

    .wrap{
        width: 90%;
        opacity: 1;
    }

}
